/* Reset and base styles  */
* {
	padding: 0px;
	margin: 0px;
	border: none;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

/* Links */

a, a:link, a:visited  {
    text-decoration: none;
}

a:hover  {
    text-decoration: none;
}

/* Common */

aside, nav, footer, header, section, main {
	display: block;
}

h1, h2, h3, h4, h5, h6, p {
    font-size: inherit;
	font-weight: inherit;
}

ul, ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

img, svg {
	max-width: 100%;
	height: auto;
}

address {
  font-style: normal;
}

/* Form */

input, textarea, button, select {
	font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: transparent;
}

input::-ms-clear {
	display: none;
}

button, input[type="submit"] {
    display: inline-block;
    box-shadow: none;
    background-color: transparent;
    background: none;
    cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
    outline: none;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

label {
	cursor: pointer;
}

legend {
	display: block;
}

.Kvadratick{
    width: 100px;
    height: 100px;
    background-color: violet;
    border-radius: 10px;
    margin-left: 200px;
    margin-top: 200px;
    animation-name: KvadratickZXC;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;


}
@keyframes KvadratickZXC{
    from {
        width: 100px;
        height: 100px;
    }
    50%{
        width: 50px;
        height: 100px;
        background-color: blueviolet;
    }
    to {
        width: 50px;
        height: 50px;
        background-color: blue;
    }
}
.TXT::before{
    content: "Кишлак-";

}
.TXT::after{
    content: "One Love";
}